@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
	font-family: "Inter", sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0.25rem;
	padding-inline: 4rem;
}

header {
	width: 100%;
	height: fit-content;
	max-height: 15%;
	padding: 0.5rem;

	font-size: 0.8rem;

	display: flex;
	flex-direction: row;

	align-content: center;
	justify-content: space-between;
}

h3 {
	margin: 0%;
	font-weight: 400;
}

i {
	font-size: large;
}

main {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

#hero-section {
	height: 90vh;

	display: flex;
	flex-direction: column;
}

#hero-section-header {
	width: 100%;
	padding: 0.5rem;

	flex: 95%;

	font-size: 4.5rem;

	text-align: center;
	align-content: center;

	border: 2px;
	border-color: black;
	border-style: solid;
}

#hero-section-highlights {
	width: 100%;
	height: 100%;

	display: flex;
	flex: 10%;
	flex-direction: row;

	justify-content: space-around;
}

#hero-section-highlights>div {
	width: 100%;
	padding: 0.5rem;

	text-align: center;
	align-content: center;

	color: white;
	background-color: black;
}

#about-section {
	padding: 0.5rem;

	font-size: 0.8rem;
	text-align: justify;

	line-height: 1.6;

	h3 {
		font-weight: 600;
		font-size: x-large;
	}
}

#projects-section {
	font-size: 0.8rem;

	display: flex;
	flex-direction: row;
	gap: 2rem;

	border: 2px;
	border-color: black;
	border-style: solid;

	h3 {
		padding: 0.5rem;

		font-weight: 600;
		font-size: x-large;

		align-content: center;

		color: white;
		background-color: black;
	}

	span {
		font-weight: 400;
		font-size: small;
	}
}

#projects-section>div {
	padding: 0.5rem;

	display: flex;
	flex-direction: row;
	gap: 2rem;

	line-height: 1.6;
}

#projects-section-laravel-jenny>div {
	display: flex;
	flex-direction: column;
}

.projects-section-icons {
	display: flex;
	flex-direction: row;
	gap: 4px;

	align-items: center;
}

a:-webkit-any-link {
	color: black;
	text-decoration: none;
}

#connect-section {
	text-align: center;

	h3 {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	#connect-section-link {
		width: 100%;
		height: 1.5rem;
		margin-top: 2rem;
		margin-bottom: 2rem;

		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 2rem;

		font-size: small;

		a {
			height: 100%;
			
			display: flex;
			flex-direction: row;
			gap: 0.25rem;

			align-items: center;
		}
	}
}

footer {
	width: 100%;

	display: flex;
	flex-direction: column;

	font-size: x-small;

	color: gainsboro;

	text-align: center;

	p {
		margin: 0;
	}

	#footer-caption-eng {
		font-style: italic;
	}
}

@media screen and (max-width: 480px) {
	body {
		margin: 0.25rem;
		padding: 0%;
	}

	header {
		font-size: 1rem;
	}

	#hero-section-header {
		font-size: 3.75rem;
	}

	#projects-section {
		flex-wrap: wrap;
		gap: 0.5rem;

		h3 {
			flex: 1
		}
	}
}